.drag-n-drop-conatiner{
    border: 2px dashed #fff;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.drag-input-active-conatiner{
    border-color: blue;
}
.darg-drop-input{
    display: none;
}
.drag-drop-label{
    padding: 30px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}